<div class="row mx-1 justify-content-center">
  <div *ngIf="redeemed == false" class="modal fade" id="hazinaModal" tabindex="-1" role="dialog" aria-labelledby="hazinaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered hazina-modal" role="document">
      <div class="modal-content m-style">
        <div class="modal-body">
          <div class="row d-flex justify-content-center">
            <iframe id='moja-hazina' src='https://hazina.stg.brck.io/?quest=e05455f7-7cf7-4984-9146-30ee90e74505' name='moja-hazina' sandbox='allow-forms allow-modals allow-scripts allow-popups' loading='eager' style='border:none; height:180px; overflow:hidden; width: 350px; background-color:white;'> </iframe>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-10 restaurant-detail p-0" *ngIf = "loading == false">
    <div class="detail-image">
      <a class="btn btn-primary btn-back" routerLink="/">Back</a>
      <img src="{{imgUrl}}" alt="">
    </div>
    <div class="row p-5">
      <div class="col-12 col-md-6">
        <h3>{{restaurant.name}}</h3>

        <app-view-rating [rating]="restaurant.rating_average"></app-view-rating>
        <span class="review-summary"> <span class="text-muted">rated</span> {{restaurant.rating_average}} <span class="text-muted">from </span>{{restaurant.review_count}} <span class="text-muted">reviews</span></span>
        <hr>
        <div class="status py-1">
          <span [ngClass]="setClass()" class="status-icon"></span>
          <span class="status-name text-muted">{{status}} {{convertTime(restaurant.schedule_change)}}</span>
        </div>
        <div class="reviews pt-1 pb-4">
          <span class="review-icon">
            <fa-icon [icon]="faCommentAlt"></fa-icon>
          </span>
          <span class="review-name  text-muted">{{restaurant.review_count}} Review(s)</span>
        </div>
        <app-submit-ratings
          [restaurant]= "restaurant"
          [redeemed]= "redeemed"
          (refreshDetail)="refreshDetail()">
        </app-submit-ratings>

      </div>
      <div class="col-12 col-md-6 b-radius">
        <table class="table table-striped table-sm table-primary mt-2">
          <thead>
            <tr>
              <th scope="col" colspan="2">Open Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of restaurant.schedules;">
              <td>{{schedule.weekday.day}}</td>
              <td>{{convertTime(schedule.opening_time)}} - {{convertTime(schedule.closing_time)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-view-reviews [reviews]="restaurant.reviews"></app-view-reviews>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
