@import './../../../_variables.scss';

.hazina-modal {
  background-color: transparent;
  .modal-content {
    background-color: transparent;
    border: 0;
    .modal-body {
      background-color: transparent;
      border: 0;
      .row{
        background-color: transparent;
        margin: 0;
      }
      padding: 0;
      border-radius: .25rem;
    }
  }
}
.restaurant-detail {
  background-color: white;
  border-radius: $border-radius;

  .detail-image {
    position: relative;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height: $card-height;
    width: 100%;
    background: $img-bg;

    a {
      position: absolute;
      top: 10px;
      left: 15px;
    }

    img {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      background: $img-bg;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .status {
    align-items: center;

    .status-name {
      display: inline-block;
      vertical-align: middle;
      font-weight: lighter;
      font-size: 15px;
    }
  }

  .status-icon {
    margin-right: 12px;
    vertical-align: middle;
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid $status-grey;
    background-color: $status-grey;

    &.open{
      border: 3px solid $status-blue;
      background-color: $status-blue;
    }
  }

  .review-summary {
    font-size: 12px;
  }

  .reviews {
    align-items: center;

    .review-name {
      display: inline-block;
      vertical-align: middle;
      font-weight: lighter;
      font-size: 15px;
      padding-left: 2.5px;
    }

    .review-icon {
      color: $status-grey;
      padding-right: 8px;
    }
  }

  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
     background-color: lighten($status-blue, 40);
   }
   .table-striped>tbody>tr:nth-child(even)>td,
   .table-striped>tbody>tr:nth-child(even)>th {
      background-color: lighten($status-blue, 30);
    }
}
