@import './../../../_variables.scss';


.star-rating-input {
  display: inline-block;
  margin-bottom: 0;
}

.m-style {
  background-color: $faded-blue;
}

.review-area {
  border: 1px solid #E3EBF6;
}

.border-c {
  border: .1px solid #E3EBF6;
}
