<div class="row my-4 mx-1 restaurant-item">
  <div class="col-12 bg-white px-0">
    <div class="r-card d-flex b-radius" (click)="restaurantClick(restaurant)">
      <div class="img-container d-none d-sm-inline-block">
        <img src={{imgUrl}} alt="">
      </div>
      <div class="mobile-img-container d-sm-none d-inline-block">
        <img src={{imgUrl}} alt="">
      </div>
      <div class="home-detail flex-fill">
        <h4 class="r-name mb-1">{{restaurant.name}}</h4>
        <div class="rating-stars">
          <div class="d-inline-block">
            <app-view-rating
              [rating]="restaurant.rating_average">
            </app-view-rating>
          </div>
          <span class="review-summary r-margin"> {{restaurant.review_count}} raviews</span>
        </div>
        <div class="status mb-1">
          <span [ngClass]="setClass()" class="status-icon"></span>
          <span class="status-name">{{status}}</span>
        </div>
        <div class="reviews my-1">
          <span class="review-icon">
            <fa-icon [icon]="faCommentAlt"></fa-icon>
          </span>
          <span class="review-name">{{restaurant.review_count}} Review(s)</span>
        </div>

      </div>
    </div>
  </div>
</div>
