<div class="row px-5">
  <div class="col-12">
    <h4>Reviews</h4>
    <hr>
    <div *ngIf="reviews.length > 1">
      <div *ngFor="let review of reviews;">
        <div class="row">
          <div class="col text-bold">
            Anonymous
          </div>
          <div class="col-12">
            <div class="text-small text-muted">{{review.rating}} <i class="fa fa-star"></i> • Reviewed on {{reviewDate(review.created)}}</div>
            <div class="pt-1">
              {{review.review}}
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
