// colors
$blue: #2C7BE5;
$white: #ffffff;
$faded-blue: #F9FBFD;
$darker-red: #D32323;
$border-color: #edf2f9;
$img-bg: rgba(0,0,0,.5);
$status-grey: #B4B6B9;
$status-blue: $blue;

//values
$border-radius: 6px;
$content-padding: .5rem 1rem;
$card-height: 150px;

//fonts
$font-stack: 'Open Sans', Helvetica, sans-serif;
