/* Global styles */
@import '_variables.scss';

// body setup

body, html {
  background-color: $faded-blue;
  font-family: $font-stack;
}

//secondary

.bg-faded-blue {
  background-color: $faded-blue;
}

.text-darker-red {
  color: $darker-red !important;
}

.b-radius {
  border-radius: $border-radius;
}
